@import "../styles/size";
@import "../styles/mixins";

.templateContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 100%;
  width: 90%;
  @include md {
    width: 100%;
    max-width: $mainContent-width;
  }
}
