:root {
  /** Light Theme **/
  --lg-black: #000000;
  --lg-light-black: #212529;
  --lg-darkest-gray: #343a40;
  --lg-darker-gray: #495057;
  --lg-dark-gray: #6c757d;
  --lg-normal-gray: #adb5bd;
  --lg-light-gray: #ced4da;
  --lg-lighter-gray: #dee2e6;
  --lg-lightest-gray: #e9ecef;
  --lg-darker-white: #f8f9fa;
  --lg-white: #ffffff;
  --lg-blue: #0969da;

  /** Dark Theme **/
  --dk-black: #000000;
  --dk-light-black: #212529;
  --dk-darkest-gray: #343a40;
  --dk-darker-gray: #495057;
  --dk-dark-gray: #6c757d;
  --dk-normal-gray: #adb5bd;
  --dk-light-gray: #ced4da;
  --dk-lighter-gray: #dee2e6;
  --dk-lightest-gray: #e9ecef;
  --dk-darker-white: #f8f9fa;
  --dk-white: #ffffff;
}
