/** Change the sizes to increase or decrease the width or height of navbar and footer */

$footer-height: 60px;

$navbar-height: 50px;

$innerContainer-width: 150px;

$mainContent-width: 700px;

$contentList-height: 700px;
