/** Change the sizes to increase or decrease the width or height */

$footer-height: 60px;

$navbar-width-bigScreen: 240px;

$navbar-height-smallScreen: 60px;

$innerContainer-width: 150px;

$mainContent-width: 700px;

$contentList-height: 700px;
