:root {
  --text-3xs: 10px;
  --text-2xs: 11px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 38px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;

  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
}

.h1 {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
}

.h2 {
  font-size: var(--text-3xl);
  font-weight: var(--font-bold);
}

.h3 {
  font-size: var(--text-2xl);
  font-weight: var(--font-medium);
}

.h4 {
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
}

.h5 {
  font-size: var(--text-base);
  font-weight: var(--font-medium);
}

.body-1 {
  font-size: var(--text-base);
  font-weight: var(--font-normal);
}

.body-2 {
  font-size: var(--text-xs);
  font-weight: var(--font-normal);
}
