@import "../styles/colors";
@import "../styles/size";
@import "../styles/typography";

.errorRoot {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.errorNavbar {
  background-color: var(--lg-darker-white);
  min-width: 100vw;
  height: $navbar-height-smallScreen;
}

.errorContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  svg {
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
    stroke-width: 2;
  }

  span {
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
      font-weight: 500;
    }
  }
}

.errorTitle {
  font-weight: var(--font-bold);
  font-size: var(--text-4xl);
  margin-bottom: 20px;
  text-align: center;
}

.errorText {
  font-size: var(--text-base);
  margin-bottom: 50px;
}
