.postNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postNavLink {
  text-decoration: none;
}

.postNavButton {
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding: 10px 12px;
  border-radius: 8px;
  background-color: var(--darker-white);
  color: var(--darker-gray);
  font-size: var(--text-sm);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;

  svg {
    width: 24px;
    height: 24px;
    color: var(--darker-gray);
    stroke-width: 2;
  }
}
