.navbarListContainer {
  display: flex;
  flex-direction: column;
}

.navbarList {
  padding: 8px 0;
}

.navbarParentList {
  color: var(--lg-dark-gray);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
}

.navbarChildrenList {
  color: var(--lg-dark-gray);
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
}

.navbarChildList {
  svg {
    height: 14px;
    width: 14px;
    color: var(--lg-dark-gray);
  }
}
