@import "../../styles/mixins";

.navbarItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px;
  @include md {
    margin: 60px 0 25px;
  }
}

.navbarItem {
  color: var(--lg-dark-gray);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  text-decoration: none;
  &[data-ishome="true"] {
    color: var(--lg-darkest-gray);
    font-weight: var(--font-semibold);
  }
}
