.theme {
  padding: 10px 20px;
}

.themeSwitch {
  display: block;
  float: right;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--darker-white);
  border: none;
  svg {
    height: 30px;
    width: 30px;
    stroke-width: 2;
    color: var(--light-black);
  }
}
