.navbarChildrenList {
  color: var(--lg-dark-gray);
  font-size: var(--text-sm);
  font-weight: var(--font-normal);
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  &[data-show="true"] {
    opacity: 1;
    height: 100%;
    padding: 10px 0 0;
    transition: all 0.2s cubic-bezier(0.54, 0.18, 0.22, 0.79);
  }
}

.navbarChildList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  svg {
    height: 16px;
    width: 16px;
    color: var(--lg-dark-gray);
    stroke-width: 2;
  }
  &[data-selected="true"] {
    color: var(--lg-darkest-gray);
    font-weight: var(--font-medium);
  }
}
