.listContainer {
  padding: 0;
}

.listContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.listTitle {
  margin: 0;
  color: var(--light-black);
}

.listText {
  line-height: 1.3rem;
  height: 4.2rem;
  overflow: hidden;
  color: var(--darkest-gray);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
