@import "../styles/mixins";
@import "../styles/size";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$height: calc(100vh - $navbar-height - $footer-height);

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: var(--lg-white);
  // -webkit-text-size-adjust: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // transition: background-color 0.3s, color 0.3s;
}

hr {
  border: 1px solid var(--lg-lightest-gray);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  min-height: $height;
}
