@import "../styles/mixins";
@import "../styles/size";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$height: calc(100vh - $navbar-height-smallScreen);

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--lg-white);
}

hr {
  border: 1px solid var(--lg-lightest-gray);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  @include md {
    flex-direction: row;
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: $height;
  margin-left: 0;
  margin-top: $navbar-height-smallScreen;
  @include md {
    padding: 0 20px;
    margin-top: 0;
    margin-left: calc(
      $navbar-width-bigScreen + 70px
    ); // navbar width + navbar padding
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
